{% if customer %}
  <script type="text/javascript">
    window.location.href = "{{ shop.url }}/account";
  </script>
  {% else %}
  <div class="container">
  <div class="user-account">
    <div class="grid__item auth-container-left-side">
      <h5>
        WELCOME BACK!
      </h5>
      <p>
        To keep connected with us please login with your personal info
      </p>
      {% comment %} <button>Sign Up</button> {% endcomment %}
      <p class="dt-sc-btn p-button">
        {{ 'customer.login.sign_in' | t | customer_login_link }}
      </p>
    </div>
    <div class="grid__item small--text-center auth-container-right-side">
      <h5 class="login-title">
        {{ 'customer.register.title' | t }}
      </h5>
      <div class="register-form">
        {% comment %}
        This form must use 'create_customer'
        {% endcomment %}
        {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <label for="FirstName" class="label--hidden">{{ 'customer.register.first_name' | t }}</label>
        <input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

        <label for="LastName" class="label--hidden">{{ 'customer.register.last_name' | t }}</label>
        <input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

        <label for="Email" class="label--hidden">{{ 'customer.register.email' | t }}</label>
        <input type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

        <label for="CreatePassword" class="label--hidden">{{ 'customer.register.password' | t }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>

        <div class="dt-sc-btn-group">
          <input  type="submit" value="{{ 'customer.register.submit' | t }}" class="dt-sc-btn">
          {% comment %} <a class="dt-sc-btn" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a> {% endcomment %}
        </div>
        {% endform %}
        
      </div>
    </div>
  </div>
</div>
{% endif %}