<div class="account-container">
  <div class="user-account ">
    <div class="grid__item reset-pwdform text-center content-wrapper">
      {% form 'reset_customer_password' %}

      <div class="section-header section-header--small">
        <h1 class="section-header__title">{{ 'customer.reset_password.title' | t }}</h1>
      </div>

      <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        {{ form.errors | default_errors }}
        <div class="custom-input">
          <label class="label--hidden" for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="ResetPassword" placeholder="{{ 'customer.reset_password.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
        </div>
        <div class="custom-input">
          <label class="label--hidden" for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" placeholder="{{ 'customer.reset_password.password_confirm' | t }}" id="PasswordConfirmation" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>
        </div>
      <p>
        <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
      </p>
      {% endform %}

    </div>
  </div>
</div>

<style>
      .account-container .content-wrapper {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease; 

    }

    .account-container .content-wrapper .inside-content {
        flex: 0 0 100%;
        max-width: 100%;
        height: fit-content;
    }
    .account-container .content-wrapper .custom-input {
        width: calc(50% - 2rem);
        margin-bottom: 1rem;
    }
    .account-container .content-wrapper .custom-input label {
        color: var(--color-2);
        font-weight: 300;
        font-size: 0.75rem;
    }
    .account-container .content-wrapper .custom-input input {
        background-color: unset;
        border: none;
        border-bottom: 2px solid var(--color-1);
        color: var(--color-4);
        height: 2rem;
        padding: 0 0.5rem;
    }
</style>