{% assign margin = section.settings.margin | split: ',' %}
{% assign margin_top = margin[0] %}
{% assign margin_bottom = margin[1] %} 
{% assign padding = section.settings.padding | split: ',' %}
{% assign padding_top = padding[0] %}
{% assign padding_bottom = padding[1] %} 

{% if section.settings.enable_overlay %}
{% assign section_overlay = 'dt-sc-overlay' %}
{% endif %}


{% if section.settings.show_background_image %}
{% assign lazyScript = "lazyload" %}
{% endif %}

<div data-section-id="{{ section.id }}" data-section-type="brand-logos-section" data-item-per-view="{{ section.settings.items_per_view }}"   data-autoplay="{{section.settings.slider_autoplay}}"  data-small-screen-items="1" data-blocks-limit="{{section.blocks.size}}" data-item-space="{{section.settings.column_gap}}" data-auto-height="{{section.settings.enable_auto_height}}">
  <div class="dt-sc-section-wrapper  {{lazyScript}} {{ section_overlay }} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" {% if section.settings.background_style == 'parallax' %} data-speed="2" data-style="parallax"{% endif %} style="{% render 'bg-color-image-padding' %} background-size: {{- section.settings.background_size -}}; {% if section.settings.background_style == 'fixed' %}background-attachment: fixed;{% endif %} background-repeat:{% if section.settings.background_size == 'repeat' %}repeat{% else %}no-repeat;{% endif %}" {% include 'bg_image' %}>  
    <div class="{% render 'container-settings' %}"> 
      <div class="row {{ section.settings.custom_class_name }}"> 
        {% render 'section-heading', class: section.id %} 
        {{ page.content }}
        <div class="layout-type left_icon-block_form_inline {% if section.settings.enable_contact_form %}{{section.settings.form_position}}{% endif %}">
          {% if section.settings.enable_contact_info %}
          <div class="cont-detail-main">

            {% if section.settings.contact_detail_title %}
            <div class="dt-sc-heading">
              {% if section.settings.contact_det_title != blank %} 
              <h4 class="cont-main-title">{{ section.settings.contact_det_title }}</h4>
              {% endif %}
              {% if section.settings.contact_det_description != blank %}
              <p class="cont-main-description"> {{ section.settings.contact_det_description }}</p>
              {% endif %}
            </div>
            {% endif %}

            <ul class="dt-contact-icon-block-section dt-sc-column four-column">
              {% if section.settings.contact_module_address %} 
              <li class="dt-contact-icon-block"> 
                <div class="dt-contact-icon-image">
                  <i> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                           viewBox="159 35 680.5 729.1" style="enable-background:new 159 35 680.5 729.1;" xml:space="preserve">
                    <g>
                      <g>
                        <g>
                          <path d="M500,654c-1.5,0-6.3-0.2-7.1-2.5l-0.7-2.2l-1.5-1.7c-15.1-16.7-69.5-81.2-120-155.1c-66.8-97.7-102.1-175.5-102.1-225
                                   C268.5,139.9,372.4,36,500,36c62.1,0,120.4,24.4,164.4,68.6c43.7,44,68.4,102.8,69.6,165.5c0,46.8-32.1,119.5-92.7,210
                                   C591.9,554,537.8,618.9,517.4,643.4c-2.3,2.8-4.2,5-5.5,6.7C509.2,652.5,504.8,654,500,654z M500,64
                                   c-112.2,0-203.5,91.3-203.5,203.5c0,38.3,24.4,96.2,72.7,172.1c43.9,69.2,95.5,134.5,122.3,167.3l8.4,10.2l8.5-10.1
                                   c8-9.4,195.1-232.5,195.1-339.6C703.5,155.3,612.2,64,500,64z"/>
                        </g>
                        <g>
                          <path d="M500,391.5c-33.3,0-64.5-12.8-87.8-36.2C388.8,332,376,300.8,376,267.5s12.8-64.5,36.2-87.8
                                   c23.3-23.3,54.5-36.2,87.8-36.2s64.5,12.8,87.8,36.2c23.3,23.3,36.2,54.5,36.2,87.8s-12.8,64.5-36.2,87.8
                                   C564.5,378.7,533.3,391.5,500,391.5z M500,171.5c-53.8,0-96,42.2-96,96s42.2,96,96,96c53.8,0,96-42.2,96-96
                                   S553.8,171.5,500,171.5z"/>
                        </g>
                        <g>
                          <path d="M500,764c-88,0-173.5-10.5-234.6-28.9C217.7,720.8,161,694.8,161,652.5c0-58.5,103.9-87.2,165.9-99.2
                                   c0.9-0.1,1.8-0.2,2.7-0.2c7.9,0,13.4,5.8,14.6,11.4c1.4,9.1-4.6,15.9-11.3,17.2c-56.1,11.2-89.7,25.1-108,34.8
                                   c-16.4,8.7-35.9,21.9-35.9,36c0,25.6,57.6,46.5,82.4,54.2c42.4,13.3,116.1,29.3,226.1,29.3c111,0,184.9-15.4,227.3-28.3
                                   c25.2-7.7,83.7-28.4,83.7-55.2c0-15-21.8-28.9-34.9-35.9c-26-14-63.7-26-109-34.9c-6.5-1.3-12.6-10.5-11.3-17
                                   c1.2-5.8,8.7-11.5,15.2-11.5c0.6,0,1.2,0.1,1.8,0.2l0.2,0c62.9,11.7,168.5,40,168.5,99.2c0,42.3-56.7,68.3-104.4,82.6
                                   C673.5,753.5,588,764,500,764z"/>
                        </g>
                      </g>
                    </g>
                    </svg></i>
                </div>
                <div class="dt-contact-icon-content">
                  <h5>{{ section.settings.contact_module_address_title }}</h5>
                  <p> {{ section.settings.contact_module_address1 }}<br /> 
                    {{ section.settings.contact_module_address2 }}<br />
                    {{ section.settings.postcode }}</p>
                </div>
              </li>
              {% endif %}
              {% if section.settings.contact_phone %}         
              <li class="dt-contact-icon-block">
                <div class="dt-contact-icon-image">
                  <i><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="181.2 82.9 632.8 635.4" style="enable-background:new 181.2 82.9 632.8 635.4;" xml:space="preserve">
                    <g>
                      <path d="M671.5,714.6c-69.4,0-151.9-47.4-245.4-140.8L325.4,473c-34.5-34.5-139.6-139.6-139.6-245.2c0-28,7.6-54.2,22.6-77.9
                               c26.1-41.5,56.5-63.8,87.9-64.5c1.2-0.1,2.4-0.1,3.6-0.1c49.2,0,93.1,47.7,133.1,99.3c7.9,11,12,24,12,37.6
                               c0,33.8-21,71.2-53.6,95.2l-1.8,1.3l0.2,2.2c1.1,14.3,34.6,45.7,36.4,47.4l105.5,105.5c32.2,32.2,42.4,36.4,47.6,36.4h2l1.2-1.6
                               c20.7-28.4,51.7-48.1,83-52.8c4.4-0.7,8.7-1,12.9-1c14.6,0,27,4.1,36.8,12.2l0.1,0.1c49.1,37.2,99.2,82,99.2,132.8
                               c0,33.1-22,64-65.4,91.8C725.5,706.9,699.3,714.6,671.5,714.6z M298.9,108.6c-0.7,0-1.4,0-2.1,0c-24.1,0.9-47.2,19-68.8,53.9
                               c-12.6,20.2-19,41.9-19,64.5c0,95.3,100.2,195.5,133.2,228.4l100.8,100.8c88.5,88.5,165.1,133.4,227.5,133.4
                               c23.7,0,45.8-6.5,65.5-19.2c36.2-23.6,53.8-46.9,53.8-71.4c0-40-45.7-80.3-90.4-114.4c-6.2-4.5-14.4-6.8-24.3-6.8
                               c-2.3,0-4.8,0.1-7.4,0.4l-0.1,0c-24.1,3.3-50,19.9-67.5,43.2l-0.1,0.1c-4.6,6.5-11.3,10.4-19.5,11.1c-0.6,0-1.3,0.1-2,0.1
                               c-20.6,0-43.9-21.6-66-43.7l-104-103.2c-22.7-21.9-43.6-45-43.6-65.2c0-8.9,3.9-16.5,11.1-21.5l0.1-0.1c26.3-19.7,44-50.6,44-76.8
                               c0-9-2.3-16.3-7.1-23.1l-0.1-0.1C376.9,152.1,338.1,108.6,298.9,108.6z"/>
                    </g>
                    <g>
                      <path d="M640.9,358.3c-6.6,0-12-5.4-12-12c0-41-33.4-74.4-74.4-74.4c-7,0-12-5-12-12c0-6.6,5.4-12,12-12
                               c54.3,0,98.4,44.1,98.4,98.4C652.9,352.9,647.6,358.3,640.9,358.3z"/>
                    </g>
                    <g>
                      <path d="M696.1,349.5c-6.6,0-12-5.4-12-12c0-67.1-54.5-121.6-121.6-121.6c-7,0-12-5-12-12c0-6.6,5.4-12,12-12
                               c80.3,0,145.6,65.3,145.6,145.6C708.1,344.1,702.8,349.5,696.1,349.5z"/>
                    </g>
                    <g>
                      <path d="M751.3,341.5c-6.6,0-12-5.4-12-12c0-93.1-75.7-168.8-168.8-168.8c-6.6,0-12-5.4-12-12s5.4-12,12-12
                               c51.6,0,100,20,136.4,56.4c36.4,36.4,56.4,84.8,56.4,136.4C763.3,336.1,758,341.5,751.3,341.5z"/>
                    </g>
                    </svg></i> 
                </div>
                <div class="dt-contact-icon-content">
                  <h5>{{ section.settings.contact_module_contact_phonetitle }}</h5>
                  <p>  {{ section.settings.contact_phone1 }} <br>
                    {{ section.settings.contact_phone2 }}</p>
                </div>
              </li>
              {% endif %}        
              {% if section.settings.contact_module_email %}        
              <li class="dt-contact-icon-block">
                <div class="dt-contact-icon-image">
                  <i><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="134 133 730 532.3" style="enable-background:new 134 133 730 532.3;" xml:space="preserve">
                    <g>
                      <path d="M219.8,665c-46.7,0-84.7-38.1-84.8-84.8V219.8c0-46.7,38.1-84.7,84.8-84.8h560.4c46.7,0,84.7,38.1,84.8,84.8v360.4
                               c0,46.7-38.1,84.7-84.8,84.8h0H219.8z M219.8,165c-30.2,0-54.8,24.6-54.8,54.8v360.5c0,30.2,24.6,54.8,54.8,54.8h560.5
                               c30.2,0,54.8-24.6,54.8-54.8V219.8c0-30.2-24.6-54.8-54.8-54.8H219.8z"/>
                    </g>
                    <g>
                      <path d="M500,465c-3.4,0-6.7-1.2-9.4-3.3l-250-200c-3.1-2.5-5.1-6.1-5.5-10.1c-0.4-4,0.7-7.9,3.2-11c2.9-3.6,7.1-5.6,11.7-5.6
                               c3.4,0,6.7,1.1,9.4,3.3L500,430.8l240.6-192.5c2.7-2.2,5.9-3.3,9.4-3.3c4.6,0,8.9,2.1,11.7,5.6c5.2,6.5,4.1,15.9-2.3,21.1l-250,200
                               C506.7,463.8,503.4,465,500,465z"/>
                    </g>
                    </svg></i>
                </div>
                <div class="dt-contact-icon-content">
                  <h5>{{ section.settings.contact_module_contact_title }}</h5>
                  <p> 
                    <a title="" href="mailto:{{ section.settings.contact_module_email1 }}">{{ section.settings.contact_module_email1 }}</a><br>
                    <a title="" href="mailto:{{ section.settings.contact_module_email2 }}">{{ section.settings.contact_module_email2 }}</a>
                  </p> 
                </div>
              </li>
              {% endif %}        
              {% if section.settings.contact_opening_hours %} 
              <li class="dt-contact-icon-block"> 
                <div class="dt-contact-icon-image">
                  <i>
                    <svg class="clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 47.8 47.7" style="enable-background:new 0 0 47.8 47.7;" xml:space="preserve">
                      <circle class="cir1" cx="23.9" cy="7.1" r="1.4"/>
                      <circle  class="cir1"cx="40.9" cy="23.8" r="1.4"/>
                      <circle  class="cir1"cx="6.8" cy="23.8" r="1.4"/>
                      <circle  class="cir1"cx="23.9" cy="40.7" r="1.4"/>
                      <rect  class="cir1"x="23.1" y="11.7" width="1.6" height="13"/>
                      <rect  class="cir1" x="23.3" y="21" transform="matrix(0.7578 -0.6525 0.6525 0.7578 -7.7728 22.6874)" width="6.8" height="1.6"/>
                      <style>
                        .cir1{color:currentcolor;}
                        .clk0{color:transparent;}
                        .clock{border-radius:50%;border: 1px solid currentcolor;}
                        @media not all and (min-resolution:.001dpcm) { 
                          @supports (-webkit-appearance:none) {
                            .clk0{color:var(--DT_Button_Text_Color);}
                          }
                        }
                      </style>
                      </i>
                    </div> 
                  <div class="dt-contact-icon-content">
                    <h5>{{ section.settings.contact_opening__title }}</h5>
                    <p> {{ section.settings.contact_opening_hours1 }}
                  </div>
                  </li>
                {% endif %}
            </ul>
          </div>
          {% endif %}

          {% unless section.settings.form_style_2 %}

          {% if section.settings.enable_contact_form %}
          <div class="contact-form-section">

            <div class="dt-sc-heading">
              <h4> {{ section.settings.contact_form_title }} </h4>
              <p> {{ section.settings.title_description }}</p>
            </div>

            {% form 'contact' %}
            {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
            {% endif %}
            {{ form.errors | default_errors }}         
            <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }}</label>
            <input type="text" id="ContactFormName" class="input-full" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
            <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }}</label>
            <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
            <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
            <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}</label>
            <textarea rows="6" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
            <div class="btn-submit">
              <button type="submit" class="btn">
                {{ 'contact.form.send' | t }} 
              </button> </div>
            {% endform %}          
            {% endif %}
          </div>
          {% endunless %}

          {% if section.settings.form_style_2 %}

          {% if section.settings.enable_contact_form %}
          <div class="contact-form-section">

            <div class="dt-sc-heading">
              <h4> {{ section.settings.contact_form_title }} </h4>
              <p> {{ section.settings.title_description }}</p>
            </div>

            {% form 'contact' %}
            {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
            {% endif %}
            {{ form.errors | default_errors }}         
            <div>
              <label for="ContactFormName" class="label--hidden">{{ 'contact.form.name' | t }} <i class="fa fa-user-o" aria-hidden="true"></i> </label>
              <input type="text" id="ContactFormName" class="input-full" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
            </div><div>
            <label for="ContactFormEmail" class="label--hidden">{{ 'contact.form.email' | t }} <i class="fa fa-envelope-o" aria-hidden="true"></i></label>
            <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }} " autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
            </div><div>
            <label for="ContactFormPhone" class="label--hidden">{{ 'contact.form.phone' | t }} <i class="fa fa-phone" aria-hidden="true"></i></label>
            <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }} " pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
            </div>
            <div class="text-item">
              <label for="ContactFormMessage" class="label--hidden">{{ 'contact.form.message' | t }}  <i class="fa fa-comment-o" aria-hidden="true"></i> </label>
              <textarea rows="5" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
            </div><div>
            <button type="submit" class="btn">
              {{ 'contact.form.send' | t }} 
            </button></div>
            {% endform %}          
            {% endif %}
          </div>
          {% endif %}


        </div>
      </div>
    </div>
  </div>
</div>

<style>

  #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-section-wrapper { z-index: 0;}

  #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-overlay:before  { 
    color: var(--DTTertiaryColor); 
      color: {{ section.settings.background_color }};    
      background: currentcolor; 
      opacity: {{ section.settings.overlay_transparency }}; }

  #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-heading { margin-bottom: 35px; }
  #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-heading .dt-sc-main-heading { color: var(--DTColor_Heading); color:{{ section.settings.section_heading_color }}; } 
  #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-heading .dt-sc-sub-heading { color: var(--DTColor_Heading); color:{{ section.settings.section_sub_heading_color }}; } 
  #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-heading .dt-sc-heading-description { color: var(--DTColor_Body);  color:{{ section.settings.section_description_color }}; } 
  #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-heading .dt-sc-btn { 
    background: var(--DT_Button_BG_Color); background:{{ section.settings.section_button_bg_color }}; 
      color: var(--DT_Button_Text_Color); color:{{ section.settings.section_button_text_color }}; }
  #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-heading .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); background:{{ section.settings.section_button_hover_bg_color }}; 
      color: var(--DT_Button_Text_Hover_Color); color:{{ section.settings.section_button_hover_text_color }}; }  

  /*Old style*/

  #shopify-section-{{section.id}}.contact-layout-3 .dt-contact-icon-block-section { margin: 0; }
  #shopify-section-{{section.id}}.contact-layout-3 .dt-contact-icon-block-section .dt-contact-icon-block { 
    /*     border-width: 1px; */
    /*     border-style: solid; */
    border-color: {{ settings.border_color}};
    border-color: {{ section.settings.contactborder_color }}; 
    padding: {{ section.settings.section_contact_padding }}; 
    transition: var(--DTBaseTransition); 
      border-radius: var(--DTRadius);
        }

  #shopify-section-{{section.id}}.contact-layout-3  .dt-contact-icon-block-section .dt-contact-icon-block .dt-contact-icon-content br { display: block; margin-top: 6px; }
  #shopify-section-{{section.id}}.contact-layout-3  .dt-contact-icon-block-section .dt-contact-icon-block:hover { border-color: var(--DTPrimaryColor); border-color: {{ section.settings.contact_hvrborder_color }};}  

  /*Contact style*/ 

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .cont-detail-main .dt-sc-heading { text-align: {{ section.settings.contact_heading_position }}; width: 100%;}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .cont-detail-main .dt-sc-heading .cont-main-title { 
    color: var(--DTColor_Heading); color: {{section.settings.contact_det_title_color}};}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .cont-detail-main .dt-sc-heading .cont-main-description { 
    color: var(--DTColor_Heading); color: {{section.settings.contact_det_description_color}};}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .cont-detail-main .dt-contact-icon-block .dt-contact-icon-image svg { 
    width: 30px; height: 30px;}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .cont-detail-main .dt-contact-icon-block .dt-contact-icon-content p a { 
    color: var(--DTLinkColor); color: {{section.settings.mail_color}}; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .cont-detail-main .dt-contact-icon-block .dt-contact-icon-content p a:hover { 
    color: var(--DTLinkHoverColor); color: {{section.settings.mail_hover_color}}; }

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .cont-detail-main .dt-contact-icon-block .dt-contact-icon-content p {
    color: var(--DTColor_Heading); color: {{section.settings.contact_detail_color}}; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .cont-detail-main .dt-contact-icon-block .dt-contact-icon-content h5 { 
    color: var(--DTColor_Heading); color: {{section.settings.icon_contact_heading_color}}; transition: var(--DTBaseTransition); } 
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .cont-detail-main .dt-contact-icon-block:hover .dt-contact-icon-content h5 {
    color: var(--DTPrimaryColor); color: {{ section.settings.icon_contact_heading_hover_color}}; }


  #shopify-section-{{section.id}}.contact-layout-3 .dt-contact-icon-block-section .dt-contact-icon-block .dt-contact-icon-image > i { background: {{section.settings.contact_icon_bg_color}}; color: {{section.settings.contact_icon_color}}; }
  #shopify-section-{{section.id}}.contact-layout-3 .dt-contact-icon-block-section .dt-contact-icon-block:hover .dt-contact-icon-image > i { background: {{section.settings.contact_icon_hover_bg_color}}; color: {{section.settings.contact_icon_hover_color}}; }
  #shopify-section-{{section.id}}.contact-layout-3 .dt-contact-icon-block-section .dt-contact-icon-block .dt-contact-icon-image > i svg { fill: {{section.settings.contact_icon_color}};}
  #shopify-section-{{section.id}}.contact-layout-3 .dt-contact-icon-block-section .dt-contact-icon-block:hover .dt-contact-icon-image > i svg { fill: {{section.settings.contact_icon_hover_color}};}


  #shopify-section-{{section.id}}.contact-layout-3 .dt-contact-icon-block-section .dt-contact-icon-block .dt-contact-icon-image > i { 
    border-radius: var(--DTRadius);
      display: grid;
      place-items: center;
      font-size: 20px;
      height: 60px; 
      line-height: 50px; 
      position: relative;
      text-align: center; 
      width: 60px; 
      transition: var(--DTBaseTransition); 
        }

  {% unless section.settings.enable_contact_form %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type .dt-contact-icon-block-section .dt-contact-icon-block { display: flex ; flex-direction: column; border: 1px solid {{ section.settings.contactborder_color }}; border-radius:var(--DTRadius); }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type .dt-contact-icon-block-section .dt-contact-icon-block:hover { border-color: var(--DTPrimaryColor); border-color: {{ section.settings.contact_hvrborder_color }};}  

  {% endunless %}

  /*form style*/


  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .contact-form-section .dt-sc-heading {
    text-align: {{section.settings.form_heading_position}}; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .contact-form-section .dt-sc-heading h4 { 
    color: var(--DTColor_Heading); color: {{section.settings.form_title_color}}; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline .contact-form-section .dt-sc-heading p { 
    color: var(--DTColor_Heading); color: {{section.settings.form_description_color}}; }



  {% if section.settings.enable_contact_form %}

  {% unless section.settings.form_style_2 %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form input { height: 60px; margin-bottom: 20px;}

  {% endunless %}

  {% if section.settings.enable_contact_info %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type[class*="layout_"] { justify-content: space-between; display: flex; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type[class*="layout_"]>* { width: calc(50% - var(--DTGutter_Width));}

  {% endif %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form { display: block;}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type form.contact-form .label--hidden { display: none;}


  {% if section.settings.form_style_2 %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type form.contact-form > div .label--hidden { display: flex; margin: 0 !important; pointer-events: none; font-size: 0; align-items: center; margin-bottom: var(--DTGutter_Width); justify-content: center; background: var(--DT_Button_BG_Color);}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type form.contact-form > div .label--hidden i { font-size: 22px; color: var(--DT_Button_Text_Color); width: 60px; height: 60px; align-self: self-start; display: grid; place-items: center; }

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form > div:not(:last-child) { display: flex; margin-bottom: var(--DTGutter_Width); }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type form.contact-form > div .label--hidden { border-radius: {{section.settings.contact_form_radius_2}} 0 0 {{section.settings.contact_form_radius_2}}; height: auto; width: 60px;}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form input { height: 60px;}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form input,
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form textarea { border-radius: 0 {{section.settings.contact_form_radius_2}} {{section.settings.contact_form_radius_2}} 0;}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form > div:last-child { display: flex; justify-content: flex-end; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form > div:last-child button { margin: 0;}

  {% endif %}

  /*Default*/

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default .cont-detail-main {  border-radius: var(--DTRadius); margin: 0 0 30px;}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default .contact-form-section { background: var(--DTform_BG); padding: var(--DTGutter_Width); border-radius: var(--DTRadius); }

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default .dt-contact-icon-block-section .dt-contact-icon-block { display: flex ; flex-direction: column; border: 1px solid {{ section.settings.contactborder_color }}; border-radius:var(--DTRadius); }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default .dt-contact-icon-block-section .dt-contact-icon-block:hover { border-color: var(--DTPrimaryColor); border-color: {{ section.settings.contact_hvrborder_color }};}  

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form.contact-form input { height: 60px; margin-bottom: 0;}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form.contact-form > div:not(:last-child) { margin-bottom: 0;}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form { display: grid; grid-template-columns: repeat(2,1fr); gap: var(--DTGutter_Width); }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form.contact-form textarea,
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form .text-item { grid-column: 2/3; grid-row: 1/4; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form .btn-submit,
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form.contact-form > div:last-child { grid-column: 2/3;}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form .btn-submit button { margin: 0 0 0 auto;}


  /*Layout-1*/

  {% if section.settings.enable_contact_info %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 { display: grid; grid-template-columns: repeat(2,1fr); gap: var(--DTGutter_Width);}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 > * { width: 100%;/* padding: var(--DTGutter_Width);*/}

  {% endif %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 .contact-form-section { order: 1;}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 .cont-detail-main { order: 2; width: 100%; background-color: border-radius: var(--DTRadius); }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 .dt-contact-icon-block-section { display: grid; gap: var(--DTGutter_Width); grid-template-columns: repeat(auto-fill, minmax(240px,1fr)); }

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 .dt-contact-icon-block-section .dt-contact-icon-block { display: flex ; flex-direction: column; border: 1px solid {{ section.settings.contactborder_color }}; border-radius:var(--DTRadius); }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 .dt-contact-icon-block-section .dt-contact-icon-block:hover { border-color: var(--DTPrimaryColor); border-color: {{ section.settings.contact_hvrborder_color }};}  

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 .dt-contact-icon-block-section .dt-contact-icon-block .dt-contact-icon-content { padding: var(--DTGutter_Width) 0 0; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 .dt-contact-icon-block-section .dt-contact-icon-block .dt-contact-icon-content >*:not(:last-child) { margin: 0 0 10px;}


  /*Layout-2*/

  {% if section.settings.enable_contact_info %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 { display: grid; grid-template-columns: repeat(2,1fr); gap: var(--DTGutter_Width);}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 > * { width: 100%; /*padding: var(--DTGutter_Width);*/}

  {% endif %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .contact-form-section { order: 2;}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .cont-detail-main { order: 1; width: 100%; max-width: 500px; margin: 0 auto;  border-radius: var(--DTRadius); }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .dt-contact-icon-block-section { display: grid; gap: var(--DTGutter_Width); grid-template-columns: 1fr ; }

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .dt-contact-icon-block-section .dt-contact-icon-block { display: flex ; flex-direction: row; border-bottom: 1px solid {{ section.settings.contactborder_color }}; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .dt-contact-icon-block-section .dt-contact-icon-block:last-child {  border-bottom: none; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .dt-contact-icon-block-section .dt-contact-icon-block:hover { border-color: var(--DTPrimaryColor); border-color: {{ section.settings.contact_hvrborder_color }};}  

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .dt-contact-icon-block-section .dt-contact-icon-block .dt-contact-icon-content { padding: 0 0 0 var(--DTGutter_Width); }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .dt-contact-icon-block-section .dt-contact-icon-block .dt-contact-icon-content >*:not(:last-child) { margin: 0 0 10px;}


  {% unless section.settings.enable_contact_info %}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form input { height: 60px; margin-bottom: 0;}
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form > div:not(:last-child) { margin-bottom: 0;}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form { display: grid; grid-template-columns: repeat(2,1fr); gap: var(--DTGutter_Width); }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form textarea,
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form .text-item { grid-column: 2/3; grid-row: 1/4; }
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form .btn-submit,
  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form > div:last-child { grid-column: 2/3;}

  #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form .btn-submit button { margin: 0 0 0 auto;}

  {% endunless %}

  {% endif %}



  @media only screen and (min-width: 1200px) {
    #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-section-wrapper { margin-top:{{margin_top}}px; margin-bottom:{{margin_bottom}}px;padding-top:{{padding_top}}px; padding-bottom:{{padding_bottom}}px; }
  }

  @media only screen and (max-width: 1199px) {
    #shopify-section-{{section.id}}.contact-layout-3 .dt-sc-section-wrapper { margin-top:{{margin_top | divided_by: 2 }}px; margin-bottom:{{margin_bottom | divided_by: 2}}px;padding-top:{{padding_top | divided_by: 2}}px; padding-bottom:{{padding_bottom | divided_by: 2}}px;}
  }

  @media only screen and (max-width: 780px) {

    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_1 ,
    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 { grid-template-columns: 1fr;}

    {% unless section.settings.enable_contact_info %}

    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form { display: grid; grid-template-columns: 1fr; gap: var(--DTGutter_Width); }

    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form textarea,
    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form .text-item { grid-column: inherit; grid-row: inherit; }
    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form .btn-submit,
    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.left_icon-block_form_inline form.contact-form > div:last-child { grid-column: inherit;}

    {% endunless %}

    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form { display: grid; grid-template-columns: 1fr; gap: var(--DTGutter_Width); }
    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form.contact-form textarea,
    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form .text-item { grid-column: inherit; grid-row: inherit; }
    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form .btn-submit,
    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.default form.contact-form > div:last-child { grid-column: inherit;}

  }

  @media only screen and (max-width: 576px) {

    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .dt-contact-icon-block-section .dt-contact-icon-block { display: flex ; flex-direction: column; border-bottom: 1px solid {{ section.settings.contactborder_color }}; }
    #shopify-section-{{section.id}}.contact-layout-3 .layout-type.layout_2 .dt-contact-icon-block-section .dt-contact-icon-block .dt-contact-icon-content { padding: 20px 0 0; } 
  }


</style>

{% schema %}
{
"name": "Contact options",
"class": "contact-layout-3",
"settings": [
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "checkbox",
"id": "spacing_both_ends",
"label": "Enable Right & Left Spacing (Works only on Fullwidth)",
"default": false
},
{
"type": "text",
"id": "padding",
"label": "Style value (Padding)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "checkbox",
"id": "show_background_image",
"label": "Enable Background image"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background image",
"info": "Size: 1920x1280"
},
{
"type": "select",
"id": "background_style",
"label": "Background Style",
"default": "none",
"options": [
{
"value": "fixed",
"label": "Fixed"
},
{
"value": "parallax",
"label": "Parallax"
},
{
"value": "none",
"label": "None"
}
]
},
{
"type": "select",
"id": "background_size",
"label": "Background Size",
"info": "This will not apply for parallax",
"default": "auto",
"options": [
{
"value": "auto",
"label": "Auto"
},
{
"value": "cover",
"label": "Cover"
},
{
"value": "contain",
"label": "Contain"
},
{
"value": "repeat",
"label": "Repeat"
}
]
},
{
"type": "checkbox",
"id": "enable_overlay",
"label": "Enable Background Color (Used as Background Image Overlay Color too)"
},
{
"type": "color",
"id": "background_color",
"label":"Background color"
},
{
"type": "text",
"id": "overlay_transparency",
"label": "Overlay Transparency (0.01 to 1)",
"default": "0.5"
},
{
"type": "text",
"id": "section_heading",
"label": "Main Heading",
"default": "Contact us"
},  
{
"type": "text",
"id": "section_sub_heading",
"label": "Sub Heading",
"default": "Sub Heading"
},  
{
"type": "text",
"id": "section_description",
"label": "Description",
"default": "Use this text to share the information which you like!."
},  
{
"type": "text",
"id": "section_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "section_button_link",
"label": "Link URL"
},
{
"type": "header",
"content": "Section Color settings"
},
{
"type": "color",
"id": "section_heading_color",
"label": "Heading color"
},    
{
"type": "color",
"id": "section_sub_heading_color",
"label": "Sub heading color"
},   
{
"type": "color",
"id": "section_description_color",
"label": "Description color"
},  
{
"type": "color",
"id": "section_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "section_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "section_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "section_button_hover_text_color",
"label": "Button hover text color"
},

{
"type": "select",
"id": "heading_position",
"label": "Heading Position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "Right"
}
]
},


{
"type": "header",
"content": "Contact-Info Section"            
},
{
"type": "checkbox",
"id": "enable_contact_info",
"label": "Enable Contact-Info Section"
},

{
"type": "checkbox",
"id": "contact_detail_title",
"label": "Enable contact title"
},
{
"type": "text",
"id": "contact_det_title",
"label": "Main Title",
"default": "Main Title"
},

{
"type": "text",
"id": "contact_det_description",
"label": "Description",
"default": "description"
},
{
"type": "color",
"id": "contact_det_title_color",
"label": "Contact Main Title Color"
},
{
"type": "color",
"id": "contact_det_description_color",
"label": "Contact Description Color"
},

{
"type": "select",
"id": "contact_heading_position",
"label": "Heading Position",
"options": [
{
"value": "center",
"label": "Center"
},
{
"value": "left",
"label": "Left"
},
{
"value": "right",
"label": "Right"
}
]
},

{
"type": "text",
"id": "section_contact_padding",
"label": "contact Padding",
"info": "i.e: 10px 10px 10px 10px"
},


{
"type": "color",
"id": "contactborder_color",
"label": "Contact Border Color"
},
{
"type": "color",
"id": "contact_hvrborder_color",
"label": "Contact Hover Border Color"
},
{
"type": "color",
"id": "icon_contact_heading_color",
"label": "Contact Heading Color"
},
{
"type": "color",
"id": "icon_contact_heading_hover_color",
"label": "Contact Heading Hover Color"
},
{
"type": "color",
"id": "contact_detail_color",
"label": "Contact Detail Color"
},

{
"type": "color",
"id": "contact_icon_bg_color",
"label": "Contact Icon Bg Color"
},
{
"type": "color",
"id": "contact_icon_color",
"label": "Contact Icon Color"
},
{
"type": "color",
"id": "contact_icon_hover_bg_color",
"label": "Contact Icon Hover Bg Color"
},
{
"type": "color",
"id": "contact_icon_hover_color",
"label": "Contact Icon Hover Color"
},
{
"type": "color",
"id": "for_title",
"label": "Form title  Color"
},
{
"type": "color",
"id": "for_title_decrip",
"label": "Form title Description Color"
},

{
"type": "checkbox",
"id": "contact_module_address",
"label": "Enable Address"
},
{
"type": "text",
"id": "contact_module_address_title",
"label": "Title",
"default": "Address"
},

{
"type": "textarea",
"id": "contact_module_address1",
"label": "Address 1",
"default": "No: 58 A, East Madison Street,"
},
{
"type": "textarea",
"id": "contact_module_address2",
"label": "Address 2",
"default": "Baltimore, MD, USA 4508"
},
{
"type": "checkbox",
"id": "contact_phone",
"label": "Enable Phone"
},
{
"type": "text",
"id": "contact_module_contact_phonetitle",
"label": "Title",
"default": "Phone"
},
{
"type": "text",
"id": "contact_phone1",
"label": "Phone 1",
"default": "<b>Toll-Free: </b> 0803 - 080 - 3081"
},

{
"type": "text",
"id": "contact_phone2",
"label": "Phone 2",
"default": "<b>Toll-Free: </b> 0803 - 080 - 3081"
},
{
"type": "checkbox",
"id": "contact_module_email",
"label": "Enable Email"
},
{
"type": "text",
"id": "contact_module_contact_title",
"label": "Title",
"default": "Email"
},
{
"type": "text",
"id": "contact_module_email1",
"label": "Email 1",
"default": "mail@example.com"
},
{
"type": "text",
"id": "contact_module_email2",
"label": "Email 2",
"default": "support@example.com"
},

{
"type": "color",
"id": "mail_color",
"label": "Mail Color"
},

{
"type": "color",
"id": "mail_hover_color",
"label": "Mail Hover Color"
},


{
"type": "checkbox",
"id": "contact_opening_hours",
"label": "Enable Opening Hours"
},
{
"type": "text",
"id": "contact_opening__title",
"label": "Title",
"default": "Opening Hours"
},
{
"type": "textarea",
"id": "contact_opening_hours1",
"label": "Text",
"default": "Text"
},

{
"type": "header",
"content": "Contact-Form Section"            
},
{
"type": "checkbox",
"id": "enable_contact_form",
"label": "Enable Contact-Form Section"
},
{
"type": "text",
"id": "contact_form_title",
"label": "Form Title",
"default":"Contact Form"
},
{
"type": "text",
"id": "title_description",
"label": "Title Description",
"default":"Title Description"
},
{
"type": "color",
"id": "form_title_color",
"label": "Form Main Title Color"
},
{
"type": "color",
"id": "form_description_color",
"label": "Form Description Color"
},


{
"type": "select",
"id": "form_heading_position",
"label": "Heading Position",
"options": [
{
"value": "center",
"label": "Center"
},
{
"value": "left",
"label": "Left"
},
{
"value": "right",
"label": "Right"
}
]
},

{
"type": "checkbox",
"id": "form_style_2",
"label": "Form Style 2"
},


{
"type": "text",
"id": "contact_form_radius_2",
"label": "Border-radius (Form Style 2)",
"default":"20px"
},

{
"type": "select",
"id": "form_position",
"label": "Form Layout",
"default": "default",
"options": [
{
"value": "default",
"label": "Default"
},
{
"value": "layout_1",
"label": "Form + contact"
},
{
"value": "layout_2",
"label": "Contact + Form"
}
]
}

]
}
{% endschema %}