<div class="dt-sc-section-wrapper pesh-product-page">
  <div class="select-collection">
    <div class="our-products-text">
      OUR PRODUCTS
    </div>
    <div class="collections-select-list">
      <div class="collections-select-item selected-collection" data-collection="boxer-briefs">
        <img src="{{ 'boxer-briefs.svg' | asset_url  }}" alt="boxer-briefs">
        <img
          src="{{ 'boxer-briefs-selected.svg' | asset_url  }}"
          alt="Boxer Briefs Selected"
          class="selected-collection-img">

        <span>Boxer Briefs</span>
      </div>
      <div class="collections-select-item" data-collection="multipacks">
        <img src="{{ 'multipacks.svg' | asset_url  }}" alt="Multipacks">
        <img
          src="{{ 'multipacks-selected.svg' | asset_url  }}"
          alt="Multipacks Selected"
          class="selected-collection-img">
        <span>Multipacks</span>
      </div>
    </div>
  </div>

  <div class="selected-collection-wrapper">
    <div
      id="collection-boxer-briefs"
      class="collection-content"
      style="display: none;">
      {% for product in collections['boxer-briefs'].products %}
        
        {% assign size_list = '' %} 
        {% for variant in product.variants %}
          {% unless size_list contains variant.option1 %}
            {% assign size_list = size_list | append: variant.option1 | append: ',' %}
          {% endunless %}
        {% endfor %}
        {% assign unique_sizes = size_list | split: ',' %}

        {% comment %} {% assign color_list = '' %} 
        {% for variant in product.variants %}
          {% unless size_list contains variant.option2 %}
            {% assign color_list = color_list | append: variant.option2 | append: ',' %}
          {% endunless %}
        {% endfor %}
        {% assign unique_colors = color_list | split: ',' %} {% endcomment %}

        <div class="product">
          <div class="product-image">
            <a href="{{ product.url | within: collection }}">
              <img src="{{ product.featured_image | img_url: '300x' }}" alt="{{ product.featured_image.alt | escape }}">
              <div class="sizes-container">
                {% for size in unique_sizes %}
                  <div class="size">
                    {{ size }}
                  </div>
                  {% endfor %}
              </div>
            </a>
          </div>
          <div class="descript">
            <div class="product-title">
              {{ product.title }}
            </div>
            <div class="product-price">
              {{ product.price | money_with_currency }}
            </div>
            {% comment %} <div class="colors">
              {% for colorr in unique_colors %}
                <div class="color">
                  {{ colorr }}
                </div>
              {% endfor %}
            </div> {% endcomment %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div
      id="collection-multipacks"
      class="collection-content"
      style="display: none;">
      {% for product in collections['multipacks'].products %}
        <!-- Render product details -->
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const collectionItems = document.querySelectorAll('.collections-select-item');
  
    collectionItems.forEach((item) => {
        item.addEventListener('click', () => {
            const collectionName = item.getAttribute('data-collection');
            showCollection(collectionName);
        });
    });
  
    const showCollection = (collectionName) => {
        const allCollectionContents = document.querySelectorAll('.collection-content');
        allCollectionContents.forEach((content) => content.style.display = 'none');
        document.getElementById('collection-' + collectionName).style.display = 'flex';
  
        collectionItems.forEach((item) => item.classList.remove('selected-collection'));
        const selectedEl = document.querySelector('[data-collection="' + collectionName + '"]');
        selectedEl.classList.add('selected-collection');
    }
  
    showCollection('boxer-briefs');
  });
</script>

<style>
  .pesh-product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: {{ section.settings.background_color }};
    padding: 3rem 0;
    gap: 3rem;
  }
  .pesh-product-page .select-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .pesh-product-page .select-collection .our-products-text {
    font-size: 2rem;
    font-weight: 600;
  }
  .pesh-product-page .select-collection .collections-select-list {
    display: flex;
    gap: 5rem;
  }

  .pesh-product-page .select-collection .collections-select-list .collections-select-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    gap: 1rem;
    cursor: pointer;
  }

  .pesh-product-page .select-collection .collections-select-list .collections-select-item img {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
  }
  .pesh-product-page .select-collection .collections-select-list .collections-select-item .selected-collection-img {
    display: none;
  }
  .pesh-product-page .select-collection .collections-select-list .collections-select-item span {
    color: #3D557A;
  }

  .pesh-product-page .select-collection .collections-select-list .selected-collection span {
    color: unset;
  }
  .pesh-product-page .select-collection .collections-select-list .selected-collection img {
    display: none;
  }
  .pesh-product-page .select-collection .collections-select-list .selected-collection .selected-collection-img {
    display: block;
  }

  .pesh-product-page .selected-collection-wrapper .collection-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .pesh-product-page .selected-collection-wrapper .collection-content .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
  }

  .pesh-product-page .selected-collection-wrapper .collection-content .product .product-image {
    position: relative;
    overflow: hidden;
  }

  .pesh-product-page .selected-collection-wrapper .collection-content .product .product-image:hover .sizes-container {
    transform: translateY(-100%);
  }

  .pesh-product-page .selected-collection-wrapper .collection-content .product .product-image a .sizes-container {
    background-color: hsla(216, 33%, 36%, 0.45);
    width: 100%;
    position: absolute;
    top: 100%;
    transition: transform 200ms ease-in-out;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-evenly;
    text-shadow: black 2px 0px 5px;
  }

  .pesh-product-page .selected-collection-wrapper .collection-content .product .descript {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pesh-product-page .selected-collection-wrapper .collection-content .product .descript .product-title {
    color: #3D557A;
    font-weight: 500;
  }

  .pesh-product-page .selected-collection-wrapper .collection-content .product .descript .product-price {
    font-size: 0.9rem;
  }

</style>

{% schema %}
  {
    "name": "Main",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      }
    ]
  }
{% endschema %}