<div class="recomended-products-section-wrapper">
  {% assign margin = section.settings.margin | split: ',' %}
  {% assign margin_top = margin[0] %}
  {% assign margin_bottom = margin[1] %}
  {% assign padding = section.settings.padding | split: ',' %}
  {% assign padding_top = padding[0] %}
  {% assign padding_bottom = padding[1] %}
  <div class="{% render 'container-settings' %}">
    <h3 class="section-header__title {{ section.settings.heading_position}}">
      {{ section.settings.heading }}</h3>
    <div class="row">
      <div
        class="product-recommendations "
        data-product-id="{{ product.id }}"
        data-limit="4">
        {%- if recommendations.products_count > 0 -%}
          <div class="dT_VProdRecommendations">
            <ul class="dt-sc-column three-column">
              {%- for product in recommendations.products -%}
                <div class="recomended-product-wrapper">
                  {% include 'product-grid-item', product: product, imageSize: 'large' %}
                  <div class="descript">
                    <div class="product-title">
                      {{ product.title }}
                    </div>
                    <div class="product-price">
                      {{ product.price | money_with_currency }}
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

<style>

  .recomended-products-section-wrapper {
    background-color: {{ section.settings.background_color }};
    padding: 20px 0;
  }

  .recomended-products-section-wrapper .three-column .recomended-product-wrapper {
    display: flex;
    flex-direction: column;
  }

  .recomended-products-section-wrapper .three-column .recomended-product-wrapper .descript {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
  .recomended-products-section-wrapper .three-column .recomended-product-wrapper .descript .product-title {
        margin: 1rem 0;
        color: {{ section.settings.product_title_color }};
  }

  .recomended-products-section-wrapper .three-column .recomended-product-wrapper .descript .product-price {
  }
  .recomended-products-section-wrapper .section-header__title {
    color: {{ section.settings.heading_color }};
  }

  .dT_VProdRecommendations {
    margin-top: 40px;
  }
  @media only screen and (min-width: 1200px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
    }
  }
  @media only screen and (max-width: 1199px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ margin_top | divided_by: 2 }}px;
      margin-bottom: {{ margin_bottom | divided_by: 2 }}px;
      padding-top: {{ padding_top | divided_by: 2 }}px;
      padding-bottom: {{ padding_bottom | divided_by: 2 }}px;
    }
  }
</style>

{% schema %}
  {
    "name": "Product recommendations",
    "settings": [
      {
        "type": "checkbox",
        "id": "full",
        "label": "Show Full width"
      },
      {
        "type": "checkbox",
        "id": "spacing_both_ends",
        "label": "Enable Right & Left Spacing (Works only on Fullwidth)",
        "default": false
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Style value (Padding)",
        "default": "0,0",
        "info": "Top(px),Bottom(px)"
      },
      {
        "type": "text",
        "id": "margin",
        "label": "Style value (Margin)",
        "default": "0,0",
        "info": "Top(px),Bottom(px)"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Recommended products"
      }, {
        "type": "select",
        "id": "heading_position",
        "label": "Heading Position",
        "options": [
          {
            "value": "text-center",
            "label": "Center"
          }, {
            "value": "text-start",
            "label": "Left"
          }, {
            "value": "text-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "product_title_color",
        "label": "Product Title Color"
      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}