<div class="sizing-chart-section">
  <div class="sizing-chart-title">
    {{ section.settings.sizing_chart_title }}
  </div>
  <div class="sizing-chart-table">
    <table>
      <thead>
        <tr>
          <th>SIZE</th>
          <th>WAIST (cm)</th>
          <th>WAIST (in)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Small</td>
          <td>71-76</td>
          <td>28-30</td>
        </tr>
        <tr>
          <td>Medium</td>
          <td>81-86</td>
          <td>32-34</td>
        </tr>
        <tr>
          <td>Large</td>
          <td>90-95</td>
          <td>36-38</td>
        </tr>
        <tr>
          <td>Extra Large</td>
          <td>100-105</td>
          <td>40-42</td>
        </tr>
        <tr>
          <td>2 XL</td>
          <td>109-114</td>
          <td>43-45</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<style>
    .sizing-chart-section {
        display: flex;
        flex-direction: column;
        background-color: {{ section.settings.bg_color }};
        padding: 0 3rem;
        padding-bottom: 5rem;
    }

    .sizing-chart-section .sizing-chart-title {
        text-align: center;
        padding: 5rem;
        color: {{ section.settings.title_color }};
        font-weight: 700;
        font-size: 40px;
    }

    .sizing-chart-section .sizing-chart-table {
        margin: 0 auto;
        max-width: 100%;
        width: 100rem;
    }
    .sizing-chart-section .sizing-chart-table table {
        width: 100%;
        border-collapse: separate;
        overflow: hidden;
        border-radius: 20px;
        color: {{ section.settings.table_font_color }};
    }

    .sizing-chart-section .sizing-chart-table table th {}
    .sizing-chart-section .sizing-chart-table table thead tr th {
        padding: 3rem;
    }

    .sizing-chart-section .sizing-chart-table table {
        border-collapse: separate;
        border: solid {{ section.settings.border_color }} 1px;
        border-radius: 20px;
    }

    .sizing-chart-section .sizing-chart-table td,
    .sizing-chart-section .sizing-chart-table th {
        border: none;
        border-left: solid {{ section.settings.border_color }} 1px;
        border-top: solid {{ section.settings.border_color }} 1px;
    }

    .sizing-chart-section .sizing-chart-table td {
        background-color: {{ section.settings.cell_color }};
        padding: 1.5rem;
    }

    .sizing-chart-section .sizing-chart-table th {
        background-color: {{ section.settings.table_header_bg_color}};
        border-top: none;
    }

    .sizing-chart-section .sizing-chart-table td:first-child,
    .sizing-chart-section .sizing-chart-table th:first-child {
        border-left: none;
    }

    @media(max-width:767px) {

      .sizing-chart-section {
        padding: 0 0.5rem !important;
        padding-bottom: 2rem !important;
        .sizing-chart-title {
          padding: 2rem;
        }
        .sizing-chart-table {
          table {
            th,td {
              padding-right: 0.5rem !important;
              padding-left: 0.5rem !important;

            }
          }
        }
      }

    }

    @media only screen and (max-width: 480px) {
      .sizing-chart-section .sizing-chart-table th {
        padding: 1rem !important;
      }
      .sizing-chart-section .sizing-chart-table td {
        padding: 0.5rem 0.75rem;
      }
    }
</style>
{% schema %}
  {
    "name": "Pesh Sizing Chart Section",
    "settings": [
        {
            "type": "text",
            "id": "sizing_chart_title",
            "label": "Sizing Chart Title",
            "default": "Sizing Chart"
        }, {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
        }, {
            "type": "color",
            "id": "title_color",
            "label": "Title Color"
        },
        {
            "type": "color",
            "id": "table_header_bg_color",
            "label": "Table Header BG Color"
        },
        {
            "type": "color",
            "id": "table_font_color",
            "label": "Table Font Color"
        },
        {
            "type": "color",
            "id": "border_color",
            "label": "Border Color"
        },
        {
            "type": "color",
            "id": "cell_color",
            "label": "Cell Color"
        }
    ],
    "presets": [
      {
        "name": "Pesh Sizing Chart Section"
      }
    ]
  }
{% endschema %}